menu{
    display: flex;
    justify-content: center;
}

menu ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0;
    width: 50%;
}

menu ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}